<div class="container">
        <h2>All Product Details</h2>   
        <p><a [routerLink]="['/addproduct']">Add New One?</a></p>        
        <table class="table table-hover">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let item of obj;i as index">
              <td>{{item.fname}}</td>
              <td>{{item.lname}}</td>
              <td>{{item.email}}</td>
              <td><a [routerLink]="['/delete']" [queryParams]="{'id':item._id}"><i class="fa fa-trash-o" aria-hidden="true" (click)="delete(item._id)"></i></a></td>
            </tr>
            
          </tbody>
        </table>
      </div>